@import '@/app/styles/mixins.scss';

@font-face {
  font-family: 'Open Sans';
  src: url('../../../public/fonts/OpenSans400.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../../../public/fonts/OpenSans700.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

main {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;

  @include breakpoint(480) {
    padding-left: 20px;
    padding-right: 20px;
  }
}
